<h1>{{ page.title }}</h1>
<div>
    {{ page.content }}
</div>
<div>
    {% form 'contact' %}
        {{ form.errors | default_errors }}
            <div class="email">
              <label for="email">Email</label>
              <input type="email" name="contact[email]" id="email" />
            </div>

            <div class="email">
              <label for="email">Test</label>
              <input type="text" name="contact[test]" />
            </div>

            {% comment %} <div class="message">
              <label for="message">Message</label>
              <textarea name="contact[body]" id="message"></textarea>
            </div> {% endcomment %}

            <div class="message">
              <label for="message">Message</label>
              <textarea name="contact[body]"></textarea>
            </div>

            <div class="submit">
              <input type="submit" value="Send" />
            </div>
    {% endform %}
</div>